<!DOCTYPE html>
<html lang="en-US" ng-app="clementineApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="Basejump: Create a voting poll app">
    <meta name="keywords" content="fcc, basejump">
    <title>Voting App - fcc basejump</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/signup.html">
    <!--[if lte IE 8]>
      <link rel="stylesheet" type="text/css" href="ie8-and-down.css">
    <![endif]-->
  </head>
  
  <body ng-controller="SignUpCtrl">
    <nav class="navbar navbar-default navbar-fixed-top primary-color">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle collasped" data-toggle="collapse" data-target="#example" type="button" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">VotePlex</a>
        </div>
        <div class="navbar-collapse collapse" id="example">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li class="active"><a href="/signup">Signup</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <header class="text-primary-white">
      <div style="padding-top:150px">
        <h1 class="text-primary-white">VotePlex</h1>
        <p>Create custom polls with live results.</p>
      </div>
    </header>
    
    <form  novalidate>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="userName" placeholder="Your Name" ng-model="user.name" required>
      </div>
    
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="foo@email.com" ng-model="user.email" required>
      </div>
    
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" ng-model="user.password" required>
      </div>
       
      <button class="btn btn-default" type="button" ng-click="validateForm()">Sign up</button>
      <a href="/auth/github">
        <div class="btn btn-default" id="login-btn">
          <img src="/public/img/github_32px.png" alt="github logo" />
          Login with github
        </div>
      </a>
    </form>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="common/ajax-functions.js"></script>
    <script src="controllers/clickController.client.js"></script>
    <script src="controllers/userController.client.js"></script>
  </body>
</html>